<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row mb-3">
<strong><%= form.label :name %></strong>
    <div class="col-sm-10">
      <%= form.text_field :name %>
    </div>
</div>
<strong><%= form.label :photo %> </strong>
<br>
<%= form.file_field :avatar %> 
<br>
<br>
<div class="row mb-3">
<strong><%= form.label :text %></strong>
    <div class="col-sm-10">
      <%= form.text_area :text %>
    </div>
</div>

<div class="field mb-3" style="visibility: hidden;" >
  <strong><%= form.label "Renter" %></strong>
      <div class="col-sm-10">
        <%= form.select :user_id , User.pluck(:name , :id) %>
      </div>
</div>
<% if current_user.id == @item.owner_id  %>
<div class="field mb-3 ">
  <strong><%= form.label :owner_id %></strong>
      <div class="col-sm-10">
        <%= form.select :owner_id , User.pluck(:name , :id) %>
      </div>
</div>
<% else %>

<strong><%= form.label :owner_id %></strong>
<p> <%= item.owner.name %> </p>
<p>Only <strong>owner</strong> can change ownership of this item ! </p>
<br>

<% end %>

<% if @item.avatar.attached? %>

<strong><p>Photo</p></strong>
<image height= 100px src="<%=(url_for(@item.avatar))%>">
<br>
<br>
<% end %>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
