
<h1>Items</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Rented_by</th>
      <th>Owned_by</th>
      <th>Rented ?</th>
      <th>Rented_till </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.text %></td>
        <td><%= item.user.name %></td>
        <td><%= item.owner.name %></td>
        <td><%= item.rental_periods.where(returned_at: nil).count > 0 %></td>
        <td><%= item.rental_periods.last&.to %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Rent Item', edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class:"btn btn-secondary" %>
