
<h1>Items</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Text</th>
      <th>Rented_by</th>
      <th>Owned_by</th>
      <th>Rented_till</th>
      <th>Rented_?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
      <% if item.avatar.attached? %>
        <td><image height= 45px src="<%=(url_for(item.avatar)) %>"></td> 
      <% else  %>
        <td><%= link_to 'Edit', item %> </td> 
      <% end %>
        <td><%= item.name %></td>
        <td><%= item.text %></td>
        <td><%= item.user.name %></td>
        <td><%= item.owner.name %></td>
        <td><%= item.current_rental_period&.to %></td>
        <td><%= item.rental_periods.where(returned_at: nil).count > 0 %></td>
        <td><%= link_to('Return', item_returned_rental_period_path(item.rental_periods.last), method: :post ) if(item.rental_periods.where(returned_at: nil).count > 0) %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to('Rent Item', new_rental_period_path(item_id: item.id)) if(item.rental_periods.where(returned_at: nil).count > 0 == false) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class:"btn btn-secondary" %>
